[flake8]
select = B,B9,BLK,C,D,E,F,S,W
; S101 use of assert, but needed for testing
per-file-ignores = tests/*:S101
max-complexity = 10
ignore = E501, W503
max-line-length = 80
docstring-convention = google
